streamlit
pandas
numpy
scikit-learn
spacy==3.7.4  # Specific version to ensure compatibility
nltk
transformers
sentence-transformers # ESSENTIAL: For sentence embedding models (requires torch)
torch               # ESSENTIAL: The core PyTorch library
python-docx
pdfminer.six
# For GCP integration (if you enable GCS fetch or Vertex AI calls)
# google-cloud-storage
# google-cloud-aiplatform   ghj'
# .\venv\Scripts\Activate.ps1  ,  pip install -r requirements.txt   , 

#resume-prioritization-project    intelligent-resume-prioritizer  457835569309